{% extends '::base.html.twig' %}

{% block body %}
    <div class="navbar">
			<div class="navbar-inner">
				<div class="container" style="width: auto;">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="{{path('index')}}">
						<img src="{{asset('bundles/static/images/logo_azul.png')}}" alt="">
						BEANAX
					</a>
					<div class="nav-collapse">
						{% render controller('UserBundle:Default:menu') %}
					</div><!-- /.nav-collapse -->
				</div> <!-- /.container -->
			</div><!-- /.navbar-inner -->
    </div> <!-- /.navbar -->
    
    <section>
    	{% block article %}
        {% endblock %}
    </section> 
{% endblock %}