{% extends '::base.html.twig' %}

{% block body %}
    <div class="navbar">
		<div class="navbar-inner">
			<div class="container" style="width: auto;">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="{{path('index')}}">
					<img src="{{asset('bundles/static/images/logo_azul.png')}}" alt="">
					BEANAX
				</a>
				<div class="nav-collapse">
					<ul class="nav pull-right">
						<li><a href="{{path('user_register')}}">REGISTRATE</a></li>
						<li><a href="{{path('user_login')}}">INICIA SESIÓN</a></li>
						<li><a href="#">AYUDA</a></li>
						<li><a href="#">Publica tu anuncio</a></li>
					</ul>
				</div><!-- /.nav-collapse -->
			</div> <!-- /.container -->
		</div><!-- /.navbar-inner -->
    </div> <!-- /.navbar -->
    
    <section>
        {% block portada %}
        {% endblock %}
    </section> 
   	<section>
   		
   	</section>
    <aside>
        {% block aside %}
            
        {% endblock %}
    </aside>
{% endblock %}